@tailwind base;
@tailwind components;
@tailwind utilities;
.cart-count {
            position: absolute;
            top:20px;
            right:11.1rem;
            background-color: #ff6b6b;
            color: white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
@media (max-width: 768px) {
  .cart-count {
    right: 7.5rem;   /* adjust for mobile */
    top: 11.3px;
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
}
@media (max-width: 414px) {
  .cart-count {
    right: 7.3rem;   /* adjust for mobile */
    top: 9.5px;
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
}